body {
	text-align: center;
}

h1 {
	text-transform: uppercase;
}

.container-fluid {
	max-width: 400px;
	/*padding-top: 10%;*/
}

.fa {
	cursor: pointer;
	margin: 10px;
}

.paused {
	/*font-style: italic;*/
	/*color: red;*/
}

.white-border {
	border: 1em solid #f8f9f9;
	border-radius: 50%;
}

.red-border {
	border: 1em solid #ff6347;
	border-radius: 50%;
}

.white-background {
	background: #f8f9f9;
	color: #ff6347;	
}

.red-background {
	background: #ff6347;
	color: #f8f9f9;
}

#sessionLength, #breakLength {
	font-size: 1.5em;
	/*margin-top: 1em;*/
}

#clock {
	font-size: 4em;
	margin: 35% auto;
}

#clock-container {
	height: 20em;
	width: 20em;
	margin: 1em auto;
}