body {
	background: #f8f9f9;
	color: #353344;
	text-align: center;
}

h1 {
	color: #ff6347;
.paused {

}
}


button {
	color: #353344;
}

#sessionLength, #breakLength {
	margin-bottom: 2em;
}

#clock {
	font-size: 4em;
}