body {
	text-align: center;
	color: #ff6347;
}

h1 {
	text-transform: uppercase;
}

.container-fluid {
	max-width: 400px;
	/*padding-top: 10%;*/
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
}

.fa {
	cursor: pointer;
	margin: 10px;
}

.paused {
	/*font-style: italic;*/
	/*color: red;*/
}

/*.white-border {
	border: 1em solid #f8f9f9;
	border-radius: 50%;
}

.red-border {
	border: 1em solid #ff6347;
	border-radius: 50%;
}*/

/*.white-background {
	background: #f8f9f9;
	color: #ff6347;	
}

.red-background {
	background: #ff6347;
	color: #f8f9f9;
}
*/
#sessionLength, #breakLength {
	font-size: 1.5em;
	/*margin-top: 1em;*/
}

#clock {
/*	font-size: 4em;
	margin: 35% auto;*/
	font-size: 4em;
}

#clock-container {
/*	height: 20em;
	width: 20em;
	margin: 1em auto;*/
}


/*SVG*/
.svg.radial-progress {
  position: relative;
  display: inline-block;
}

svg {
  transform: rotate(270deg);
}

circle {
  stroke-width: 1em;
  fill: transparent;
  /*transform: rotate(0.1deg);*/
}

.radial-progress-background {
  stroke: #f8f9f9;
}

.radial-progress-cover {
  stroke: #ff6347;
  /*stroke-width: 2.01em;*/
    /*border: 12px solid red;*/
}

.radial-progress-center {
  /*fill: #CCC;*/
}

.radial-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




